<!DOCTYPE html>
<html>
<body>
    <header><section id="ingredients">
        <h3>Searched by: {{variable[1]}}</h3>
        <p>List of recipes</p>
        <ul>
            <li>{{variable[0][0]}}</li>
            <a href='/prueba2/{{variable[0][0]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][1]}}</li>
            <a href='/prueba2/{{variable[0][1]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][2]}}</li>
            <a href='/prueba2/{{variable[0][2]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][3]}}</li>
            <a href='/prueba2/{{variable[0][3]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][4]}}</li>
            <a href='/prueba2/{{variable[0][4]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][5]}}</li>
            <a href='/prueba2/{{variable[0][5]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][6]}}</li>
            <a href='/prueba2/{{variable[0][6]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][7]}}</li>
            <a href='/prueba2/{{variable[0][7]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][8]}}</li>
            <a href='/prueba2/{{variable[0][8]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][9]}}</li>
            <a href='/prueba2/{{variable[0][9]}}'><button>Link To recipe</button></a>
            <li>{{variable[0][10]}}</li>
            <a href='/prueba2/{{variable[0][10]}}'><button>Link To recipe</button></a>
    </header>
</body>
</html>


































