<html>

<head>
    <title>Sket´s Recipes</title>
</head>

<body  style="background-color:rgb(37, 122, 192);">
    <header>
        <section>
            <center>
            <h2>{{variable[0]}}</h2>
            <h2>Chef: {{variable[5]}}</h2>
            </center>
        </section>
        <section>
            <center>
            <img src="{{variable[1]}}" alt="W3Schools.com" width="450" height="242">
            </center>
        </section>
    </header>
    <article>
        <section id="ingredients">
            <h3>Ingredients</h3>
            <p>{{variable[2]}}</p>
            <ul>
                <li>{{variable[3]}}</li>
            </ul>
        </section>
        <section>
            <h3>Preparation</h3>
            <ul>
                <li>{{variable[4][2:]}}</li>
            </ul>
        </section>
    </article>
    <footer>
        <section>
            <h3>Leave a review!</h3>
            <form>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" />
                </div>
                <div>
                    <label for="review">Review:</label>
                    <textarea id="review" cols="60" rows="5"></textarea>
                </div>
            </form>
        </section>
        <section>
            <h3>Reviews</h3>
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>techie4good@adventure-works.com</td>
                        <td>Loved it!!</td>
                    </tr>
                    <tr>
                        <td>geektrainer@adventure-works.com</td>
                        <td>Used extra cheese. Came out great!</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </footer>
</body>

</html>